$fuente-principal: "Alata", sans-serif;
$fuente-secundaria: "Montserrat", sans-serif;
$fuente-terc: "Archivo Black", sans-serif;
$fuente-decorada: "Rampart One", sans-serif;
$fuente-header: "Notable", sans-serif;

$size-header: 6vmax;
$size-header-movile: 6vmax;
$size-large: 5vmax;
$size-principal: 4.2vmax;
$size-secundario: 3.6vmax;
$size-terc: 3vmax;
$size-cuarto: 2.6vmax;
$size-small: 2.2vmax;
$size-xs: 1.8vmax;
$size-xxs:1.5vmax;
$size-xxxs: 1.2vmax;

$color-light-one: #f0f0f0;
$color-light-two: #dae5e9;
$color-light-three: #f3d9ce;        //get waves
$color-dark-one: #11262c;

$color-dark-opacity: #11262caf;

$color-dark-two: #294e5a;
$color-dark-three: #70ADB6;
$color-contrast-one: #c24003;
$color-contrast-opacity: #a53a08c0;

$color-contrast-two: #c78465;
$color-arena: #F9E8DF;     /* #f1ebe1; */      //get waves
$color-botones:rgb(253, 122, 144);
$color-botones-dos: #3edb9a;
// $color-botones-hover: 