.section-servicios {
    padding: 2vmax;
    margin: 5vmax 0 0 0;
    background-color: $color-arena;
    z-index: 2;
    background-image: linear-gradient(to bottom, #F9E8DF 30%, #8acad8b2 100%);
    border: none;

    
}

.bannerContainerTitulos {

    .div-titulo-banner h3 {
        text-align: center;
        padding-bottom: 4vmax;
        font-family: "Alata", sans-serif;
        font-size: $size-terc;
        color: $color-dark-one;
    }


        
    /* Estilos de animación */
    @keyframes fadeInUp {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .animate-on-scroll {
        opacity: 0;
        transform: translateY(-80px);
        transition: opacity 0.5s ease, transform 0.8s ease;
    }

    .visible {
        opacity: 1;
        transform: translateY(0);
    }

}

.bannerBandaContainer {

    background-color: transparent;
    width: 100%;
    padding: 2vmax 2vmax;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;


    .div-icono-servicio {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 1vmax;

        .contenedorImg {
            padding: 1.5vmax;
            border: none;
            border-radius: 50%;
            box-shadow: 1px 3px 6px $color-dark-two;
            background-color: $color-light-one;

            background: linear-gradient(135deg, #f9f9f9, #facfdb);
            
            .bannerServicioImg {
                width: 4vmax;
            
            }

        }

        .servicioParrafDiv {

            display: flex;
            flex-flow: row nowrap;
            
            p {
                text-align: center;
                font-size: $size-xxxs;
                color: $color-dark-one;
                font-family: "Alata", sans-serif;

            }

        }

    }
}


.wave-deals {
    margin-top: -5vmax;
    background-color: rgba(218, 236, 241, 0.466);
    z-index: 1;
    width: 100%;
    padding: 0;
    margin: 0;
}






/* media queries */
/* estructura */

/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:992px) {

        
    .bannerContainerTitulos {

        .div-titulo-banner h3 {
           
            font-size: $size-cuarto;
        }
    }


    .bannerBandaContainer {

        display: flex;
        flex-flow: row wrap;
        align-content: center;
        width: 85%;
        padding: 0;
        margin: 0 auto;
       
        

        .div-icono-servicio {

            display: flex;
            justify-content: flex-start;
            margin-bottom: 2vmax;
            width: 30%;
            padding: 1.5vmax;
                
            .contenedorImg {
           
                
                .bannerServicioImg {
                    width: 4vmax;
                
                }

            }

            .servicioParrafDiv {

                p {
                    margin-bottom: 0;
                    font-size: $size-xxs;
                }
            }
            
        }
    }
}


@media screen and (max-width:820px) {

    .div-icono-servicio {
       
        .contenedorImg {
            padding: 1.5vmax;
           
            .bannerServicioImg {
                width: 4vmax;
            
            }

        }

        .servicioParrafDiv {

        
            p {
                text-align: center;
                font-size: $size-xxxs;
                color: $color-dark-one;
               
            }

        }

    }
    

    
}

/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:768px) {

        
    .bannerContainerTitulos {

        .div-titulo-banner h3 {
            margin: 0 auto;
            
            padding: 0 5vmax 4vmax 5vmax;
           
            font-size: $size-secundario;
          
        }
    }

    .bannerBandaContainer {
       
        margin-top: 4vmax;

        .div-icono-servicio {
            justify-content: flex-start;


                
            .servicioParrafDiv {

                p {
                    margin-bottom: 0;
                    font-size: $size-xxs;
                }
            
        
            }

        }

    

    }

}


/* medida especial */


@media screen and (max-width:650px) {

    .section-servicios {
        padding: 2vmax 4vmax;
    }
        
    .bannerContainerTitulos {

   
        display: flex;
        justify-content: center;
        margin: 0 auto;

        .div-titulo-banner h3 {
    
     
            text-align: center;
            font-size: 3.8vmax;
            margin-top: -3vmax;
            padding: 0 2vmax;
        }
    }
    
    
    .bannerBandaContainer {
        padding: 2vmax 5vmax;

        .div-icono-servicio {
            justify-content: flex-start;
            width: 50%;
        }
    }
    
    .servicioParrafDiv {

        p {
            margin-bottom: 0;
            font-size: $size-xxs;
        }
    }
    

}


/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:576px) {

    .bannerBandaContainer {

        .div-icono-servicio {

            

            .contenedorImg {
           
                .bannerServicioImg {
                    width: 8vmax;
                
                }

            }

            .servicioParrafDiv {

                p {
                    margin-bottom: 0;
                    font-size: $size-xs;
                }
            }
            
        }
    }

}

/* medida especial */

@media screen and (max-width:482px) {

        
    .bannerContainerTitulos {

        .div-titulo-banner h3 {
            padding: 0 5vmax;
            font-size: $size-secundario;
            color: $color-dark-one;
        }

    }

    .bannerBandaContainer {
        padding: 2vmax 2vmax;
        width: 100%;

        .div-icono-servicio {

            width: 50%;

            .contenedorImg {
           
                .bannerServicioImg {
                    width: 5vmax;
                
                }

            }

            .servicioParrafDiv {

                p {
                    margin-bottom: 0;
                    font-size: $size-xs;
                }
            }
            
        }
    }
}



@media screen and (max-width:430px) {

        
    .bannerContainerTitulos {

        .div-titulo-banner h3 {
            padding: 0 2vmax;
            font-size: $size-secundario;
            color: $color-dark-one;
        }

    }

}