.section-servicios {
    padding: 2vmax;
    margin-bottom: 2vmax;
    background-color: $color-arena;
}

.bannerContainerTitulos {

    .div-titulo-banner h3 {
        text-align: center;
        padding-bottom: 1vmax;
        font-family: "Alata", sans-serif;
        font-size: $size-cuarto;
        color: $color-dark-one;
    }
}

.bannerBandaContainer {

    background-color: $color-arena;
    width: 100%;
    padding: 2vmax 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;



    .div-icono-servicio {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 1vmax;

        .contenedorImg {
            padding: 1.5vmax;
            border: none;
            border-radius: 50%;
            box-shadow: 1px 3px 6px $color-dark-two;
            background-color: $color-light-one;

            
            .bannerServicioImg {
                width: 4vmax;
            
            }

        }

        .servicioParrafDiv {

            display: flex;
            flex-flow: row nowrap;
            
            p {
                text-align: center;
                font-size: $size-xxxs;
                color: $color-dark-one;

                font-family: "Alata", sans-serif;


            }

        }

    }
}








/* media queries */
/* estructura */

/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/

@media screen and (min-width:1401px) {
    
    
}


/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1400px) {
    
    
}



/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1200px) {
    

    
}



/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:992px) {


        
    .bannerContainerTitulos {

        .div-titulo-banner h3 {
            text-align: center;
            padding-bottom: 1vmax;
            font-family: "Alata", sans-serif;
            font-size: $size-cuarto;
        }
    }


    .bannerBandaContainer {

        display: flex;
        flex-flow: row wrap;
        align-content: center;
        width: 85%;
        margin: 0 auto;
        

        .div-icono-servicio {

            display: flex;
            justify-content: center;
            margin-bottom: 2vmax;
            width: 30%;

                
            .contenedorImg {
           
                
                .bannerServicioImg {
                    width: 4vmax;
                
                }

            }

            .servicioParrafDiv {

                p {
                    margin-bottom: 0;
                    font-size: $size-xs;
                }
            }
            
        }
    }
}


/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:768px) {


    .bannerBandaContainer {
        // padding: 2vmax 3vmax;

        .div-icono-servicio {
            justify-content: flex-start;
        }
    }

    
    .servicioParrafDiv {

        p {
            margin-bottom: 0;
            font-size: $size-xxs;
        }
    }
    

}


/* medida especial */


@media screen and (max-width:650px) {


    
    
    .bannerBandaContainer {
        padding: 2vmax 5vmax;

        .div-icono-servicio {
            justify-content: flex-start;
            width: 50%;
        }
    }
    
    .servicioParrafDiv {

        p {
            margin-bottom: 0;
            font-size: $size-xxs;
        }
    }
    

}


/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:576px) {


    
        
    .bannerContainerTitulos {

        .div-titulo-banner h3 {
    
            text-align: center;
            font-size: $size-terc;
            margin-top: -3vmax;
        }
    }



    
    .bannerBandaContainer {

        .div-icono-servicio {

            .contenedorImg {
           
                .bannerServicioImg {
                    width: 8vmax;
                
                }

            }

            .servicioParrafDiv {

                p {
                    margin-bottom: 0;
                    font-size: $size-small;
                }
            }
            
        }
    }

}

/* medida especial */

@media screen and (max-width:478px) {
    

    
    .bannerBandaContainer {

        .div-icono-servicio {
            width: 100%;
        }
    }
}

/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:320px) {


}