.wave-deals {
    margin-top: -4vmax;
}
/* 
.Deals-Excursiones-Section {

    padding: 0 4vmax;
}
 */



.Deals-Titles-Container {


    h2 {
        @include h2-styles($fuente-principal, $size-secundario, $color-dark-one);
        margin: -5vmax 0 1.5vmax 0;
        font-weight: 400;
        text-align: center
    }

    h3 {
        @include h3-styles($fuente-principal, $size-small, $color-dark-two);
        margin-bottom: 2vmax;
        text-align: center;
    }

    .descripcionCarouselDiv {
        width: 75%;
        margin: 1vmax auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        text-align: justify;
        font-family: $fuente-secundaria;
        font-size: $size-xxxs;
        font-weight: 400;
        color: $color-dark-one;

    }

}


.carousel-container {
    // border: solid 3px rgb(230, 98, 120);
    // padding: 2.5vmax 2vmax;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: -15vmax;
    // background-color: $color-light-three;
    background: linear-gradient(to bottom, #f1ebe1 0%, #f3d9ce 50%, #f1ebe1 100%);
    // margin-bottom: 10vmax;
    // margin-top: 10vmax;
    width: 100%;
    margin: 10vmax auto;
}


.carousel-track-container {
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}


.carousel-track {
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: transform 0.5s ease; */
    // gap: 2vmax; 
}

.carousel-image {

    width: 15vmax; /* Ancho fijo para todas las imágenes */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    border-radius: 10px; /* Esquinas redondeadas para un efecto más suave */
    opacity: 0.5; /* Imágenes ligeramente atenuadas inicialmente */

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.774); /* Sombra suave */
}




/* La imagen central será más grande y destacada */
.carousel-image.center {
    transform: scale(1.5);
    opacity: 1;
    z-index: 3; /* Asegura que la imagen central esté por encima de las demás */
}





.carousel-image.active {
    opacity: 1; /* Imagen activa (central) con opacidad completa */
    transform: scale(1.1); /* Aumentar ligeramente el tamaño de la imagen activa */
}



/* Las imágenes adyacentes (izquierda y derecha de la central) */
.carousel-image.next,
.carousel-image.prev {
    transform: scale(1.3); /* Tamaño intermedio para las imágenes adyacentes */
    opacity: 0.7; /* Mayor opacidad para destacar */
    z-index: 2; /* Asegura que estén por debajo de la imagen central */
}



/* Las imágenes en los extremos */
.carousel-image.extreme {
    transform: scale(1);
    opacity: 0.4;
    z-index: 1;
}




.offer-link {
    font-size: $size-xxxs;
    font-weight: bold;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%); /* Ajusta el centro del enlace al medio */
    background-color: $color-botones;
    box-shadow: 0 2px 5px $color-light-one;
    color: white;
    padding: 0.3vmax 0.5vmax;
    border-radius: 5px;
    text-decoration: none;
    z-index: 4;
    display: none;
    transition: transform 0.4s ease, filter 0.4s ease; /* Transición suave */

    
}


.offer-link:hover {
    /* background-color: $color-contrast-one;
    color: white; */

    background-color: $color-botones-dos;
    color: $color-contrast-one;

    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    // transform: ; /* Zoom */

}


.botonCarousel {
    background-color: rgb(230, 98, 120); /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Esquinas redondeadas */
    padding: 1vmax; /* Espaciado interno */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    margin: 1vmax;
}

.botonCarousel:hover {
    background-color: $color-contrast-one; /* Color de fondo al pasar el mouse */
}














/* media queries */
/* estructura */

/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/

@media screen and (min-width:1401px) {
    
    
}


/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1400px) {
    
    
}



/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1200px) {
    

    
}



/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:992px) {
    
    
   
}


/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:768px) {

    
.carousel-image {

    width: 15vmax; /* Ancho fijo para todas las imágenes */

}



.offer-link {
    font-size: $size-xxs;
    font-weight: 400;
    padding: 0.4vmax 0.8vmax;
    
}



}




/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:576px) {

.carousel-container {
    width: 80%;
    margin: 16vmax auto;

} 

.carousel-track {
    
    width: 56vmax;
    gap: 0; 
}

       
.carousel-image {

    width: 13vmax; /* Ancho fijo para todas las imágenes */

}




/* La imagen central será más grande y destacada */
.carousel-image.center {
    transform: scale(2.4);
    opacity: 1;
    z-index: 3; /* Asegura que la imagen central esté por encima de las demás */
}





/* Las imágenes adyacentes (izquierda y derecha de la central) */
.carousel-image.next,
.carousel-image.prev {
    transform: scale(1.8); /* Tamaño intermedio para las imágenes adyacentes */
    opacity: 0.7; /* Mayor opacidad para destacar */
    z-index: 2; /* Asegura que estén por debajo de la imagen central */
}





.offer-link {
    font-size: $size-xxs;
    font-weight: 400;
    padding: 0.3vmax 0.6vmax;
    
}


    

.botonCarousel {
    z-index: 3;
}


}



/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:320px) {


}