.waveFooter {
    background-color: transparent;
    margin-top: -10vmax;
    z-index: 5;
    
}

.footerSection {
    width: 100%;
    z-index: 1;
    background-color: #F9E8DF;
    background-image: url('../Img/pop77.jpg');
    background: linear-gradient(to bottom, (#ffffff) 0%, rgba(255, 255, 255, 0) 40%), url('../Img/pop77.jpg');
    background-position: center bottom 20%;
    background-size: cover;
    // height: 45vmax;
    height: auto;
    margin-top: -15vmax;
    margin-left: 0;
    margin-right: 0;
    padding-right: 2vmax;


    .footerTitles {
        // border: 2px black;
        display: flex;
        flex-direction: column;
        align-items: start;
        z-index: 2;
        padding-top: 7vmax;
        padding-left: 4vmax;
        margin-top: 0;


        .tituloPrincipalFooter {
            // border: 2px solid green;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            .brandFooterContainer {
                // border: 2px solid green;
                display: flex;
                flex-wrap: row nowrap;
                justify-content: center;
                align-items: center;
                gap: 0.8vmax;

                .brandFooter {
                    margin-top: -0.8vmax;
                    width: 5vmax;
                    filter: drop-shadow(2px 1px 1px rgba(167, 231, 247, 0.884));
                }
    
                h2 {
                    font-family: 'Clash Grotesk', sans-serif;
                    font-size: 5vmax;
                    text-shadow: 2px 1px 1px rgba(167, 231, 247, 0.884);
                    padding-bottom: 0;
        
                }

            }


                
            h3 {
                font-family: 'Synonym', sans-serif;
                font-weight: 400;
                text-shadow: 1px 1px 1px rgba(167, 231, 247, 0.884);
                margin-top: 0;
                width: 100%;
                text-align: center;
                padding-top: 0;
            }
        }
        



        .experienciasFooter {
            width: 80%;
            color: rgb(255, 255, 255);
            text-shadow: none;
            font-size: $size-xs;
            margin-top: 2.5vmax;
            font-weight: bold;
            text-shadow: 1px 1px 1px rgba(8, 70, 85, 0.849);
            
            

        }

        .redesFooterDiv {
            display: flex;
            flex-direction: row;
            gap: 1.8vmax;
            margin-top: 1.5vmax;
            a {


                .iconoRedes {
                    width: 3.5vmax;
                    background-color: transparent;
                    border-radius: 10px;
                    padding: 0.3vmax;
                    border: none;
                    filter: drop-shadow(1px 1px 2px rgb(255, 255, 255));

                }


                
                &:hover {
          
                    filter: drop-shadow(2px 3px 4px rgb(129, 247, 255));
                    
                }
            }
        }


        
        .legalesFooter {
            // border: 3px solid yellow;
            margin-top: 3vmax;
          
            

            .condiciones {
            
      
                display: flex;
                flex-direction: column;
                align-items: start;
                text-decoration: none;
                // color: $color-light-one;
                text-shadow: 1px 1px 1px rgba(8, 70, 85, 0.849);
                font-size: $size-xxs;
                font-weight: bold;
                color: white;
      

                
                &:hover {
             
                    
                    color: yellow;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.884);
                    
                }
            }

            .emailDiv {
                display: flex;
                flex-direction: column;
                align-items: start;

                

                a { 
     
                    text-decoration: none;
                    color: white;
                    text-shadow: 1px 1px 1px rgba(8, 70, 85, 0.849);
                    font-size: $size-xxs;
                    font-weight: bold;
                    padding-top: 1vmax;

                    &:hover {
             
                        color: yellow;
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.884);
                        
                    }
                }

                
            }
        }

        .divisorFooter {

            width: 100%;

            hr {
                border-bottom: solid 2px black;
                display: none;
            }
           
        }
    }


    .columnaDerechaFooter {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-evenly;
        padding-right: 2vmax;
        margin-right: 0;
        margin-top: 0;


        .atencionFooter {
            width: 80%;
            font-size: $size-xxs;
            margin-top: 8vmax;
            text-align: end;
            font-family: 'Synonym', sans-serif;
            font-weight: 400;
            text-shadow: 1px 1px 1px rgba(168, 229, 245, 0.849);
            padding-bottom: 1.5vmax;


        }

        .accionFooter {

            width: 90%;
            color: rgb(255, 255, 255);
            text-shadow: 2px 1px 1px rgba(9, 70, 85, 0.849);
            font-size: $size-xs;
            font-weight: bold;
            text-align: end;
        }

        .botonFooterDiv {
            display: flex;
            flex-direction: row;
            align-items: start;
            margin-top: 1.8vmax;
            margin-bottom: 4vmax ;


            a {
            
                font-size: $size-xxs;
                color: rgb(255, 255, 255);
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.849);
                font-family: 'Quilon', sans-serif;
                text-decoration: none;
                background-color: #F77B00;
                border-radius: 10px;
                padding: 0.5vmax 2.5vmax;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.822);
                user-select: none;


                
                &:hover {
             
                    color: yellow;
                    
                }
            }
        }

       
        img {
            width: 12vmax;
            filter: drop-shadow(1px 4px 4px rgba(119, 195, 214, 0.918));
        }
            
        
    }

    .derechos {
        // border: solid orangered 2px;
        text-align: center;
        margin: 0 auto;
        padding-left: 3vmax;
        color: white;
        width: 80%;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.849);
        font-weight: bold;
        padding-top: 3vmax;
        padding-bottom: 0;
        // height: 2vmax;
        p {
            padding-bottom: 0;
            font-size: $size-xxxs;
        }

    }

}














/* media queries */
/* estructura */

/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/

@media screen and (min-width:1401px) {
    
    
}


/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1400px) {
    
    
}



/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1200px) {
    

    
}



/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:992px) {
    

        
    .footerSection {
     
      

        .footerTitles {
        
            

            .experienciasFooter {
                width: 80%;
                font-size: 1.8vmax;
                margin-top: 2vmax;
            }
            
            .legalesFooter {
            
            
                .condiciones {
            
                    font-size: $size-xs;
                    
                }

                .emailDiv {
                
                    a { 
                        font-size: $size-xs;
                        padding-top: 0.6vmax;

                    }

                    
                }
            }

        }


        .columnaDerechaFooter {
            margin-top: 1vmax;


            .atencionFooter {
                width: 90%;
                font-size: $size-xs;

            }

            .accionFooter {

                width: 90%;
                font-size: $size-small;
             
            }

            .botonFooterDiv {
              
                a {
                
                    font-size: $size-xs;
                    border-radius: 6px;
                    padding: 0.5vmax 2.5vmax;
                
                }
            }

        
            img {
                width: 10vmax;
            
            }
                
            
        }
    
    }
}

/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:768px) {


    .footerSection {
        background-position: center bottom 25%;

    
        .footerTitles {
        
        
            padding-top: 10vmax;
        

            .experienciasFooter {
                width: 90%;
                font-size: $size-small;
                margin-top: 3vmax;
            }

            .redesFooterDiv {

                gap: 1.8vmax;
                margin-top: 1.5vmax;
                a {

                    .iconoRedes {
                        width: 4vmax;
                     
                    }

                }
            }

            
            .legalesFooter {
            
                margin-top: 4.5vmax;
            
                
                .condiciones {
                
                    font-size: $size-xxs;
                   
                }

                .emailDiv {
                 
                    a { 
                        font-size: $size-xxs;
                    

                    }

                    
                }
            }

        }


        .columnaDerechaFooter {
        
            .atencionFooter {
                width: 90%;
                font-size: $size-xs;
                margin-top: 10vmax;
          
            }

            .accionFooter {

                width: 90%;
                font-size: $size-small;
              
            }

            .botonFooterDiv {
                flex-direction: row;
                align-items: start;
                margin-top: 1.8vmax;
                // margin-bottom: 4vmax;


                a {
                
                    font-size: $size-small;
                    border-radius: 6px;
                    padding: 0.5vmax 2.5vmax;
                
                }
            }

        
            img {
                width: 9vmax;
            
            }
                
            
        }

    
    }

}




/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:576px) {

     

    
    .footerSection {
    
        padding: 4vmax;
        background-position: center bottom;


        .footerTitles {
        
            flex-direction: column;
            align-items: center;
            padding: 7vmax 4vmax 0 4vmax;
            margin-top: 6vmax;
            // border: solid 3px white;


            .tituloPrincipalFooter {

                flex-direction: column;
                justify-content: center;
                align-items: center;


                .brandFooterContainer {
                   
                    .brandFooter {
                    
                        width: 7vmax;
                        
                    }
        
                    h2 {
                        font-size: 7vmax;
                        
            
                    }

                }


                    
                h3 {
                    
                    font-size: $size-principal;
                    font-weight: bold;
                }
            }
            

            .experienciasFooter {
    
                text-align: center;
                width: 80%;
                font-size: $size-cuarto;
                margin-top: 4.5vmax;
          
            }

            .redesFooterDiv {
                
                flex-direction: row;
                gap: 1.8vmax;
                margin-top: 2.5vmax;
                a {

                    .iconoRedes {
                        width: 4.5vmax;
                       
                    }

                }
            }

            
            .legalesFooter {
            
                margin-top: 4vmax;
                // border: solid 3px yellow;
                display: flex;
                flex-direction: column;
                align-items: center;
             
                
                .condiciones {
                    font-size: $size-xs;   
                }

                .emailDiv {
                
                    
                    a { 
                        font-size: $size-xs;
                        padding-top: 0.6vmax;

                    }

                    
                }
            }

            .divisorFooter {

                width: 100%;

                hr {
                    border-bottom: solid 3px rgb(255, 255, 255);
                    display: block;
                }
            
            }
        }


        .columnaDerechaFooter {
            // border: solid 3px white;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            padding: 0 2vmax;
        
            .atencionFooter {
                font-size: $size-terc;
                margin-top: 0;
                text-align: center;
                font-weight: 400;
                padding-bottom: 2vmax;            
                text-shadow: none;



            }

            .accionFooter {

                // border: solid 2px rgb(240, 59, 89);
                width: 90%;
                font-size: $size-terc;
                text-align: center;
            }

            .botonFooterDiv {
                flex-direction: row;
                align-items: center;
               

                a {
                
                    font-size: $size-terc;
                    border-radius: 8px;
                    
                
                }
            }

        
            img {
                width: 14vmax;
                padding-bottom: 2vmax;
            
            }
                
            
        }

        .derechos {
            // border: solid orangered 2px;
           
     
            padding-top: 2vmax;
            padding-bottom: 0;
           
            p {
                padding-bottom: 0;
                font-size: $size-xs;
            }

        }
        
    
    }



}





/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:380px) {


}
