.waveFooter {
    background-color: transparent;
    margin-top: -10vmax;
    z-index: 5;
    
}

.footerSection {
    width: 100%;
    z-index: 1;
    background-image: url('../Img/ballena.jpg');
    background-position: center bottom 20%;
    background-size: cover;
    height: 45vmax;
    margin-top: -15vmax;
    margin-left: 0;
    margin-right: 0;


    .footerTitles {
        border: 2px black;
        display: flex;
        flex-direction: column;
        align-items: start;
        z-index: 2;
        padding-top: 7vmax;
        padding-left: 4vmax;
        margin-top: 0;

        h2 {
            font-family: 'Clash Grotesk', sans-serif;
            font-size: $size-secundario;
        }

        h3 {
            font-family: 'Synonym', sans-serif;
            font-weight: 400;
        }

        .descripcionFooterDiv {

            width: 60%;
            margin-top: 3vmax;
            p {
                font-size: $size-xxs;
                font-family: $fuente-principal;
                font-weight: 400;
                color: $color-dark-one;

            }
        }

        .experienciasFooter {
            width: 80%;
            color: rgb(0, 2, 14);
            font-size: $size-xs;
            margin-top: 2vmax;
        }

        .redesFooterDiv {
            display: flex;
            flex-direction: row;
            gap: 1.5vmax;
            margin-top: 1.5vmax;
            a {
                .iconoRedes {
                    width: 3vmax;

                }
            }
        }
    }


    .columnaDerechaFooter {
        display: flex;
        flex-direction: column;
        align-items: end;
        padding-right: 4vmax;
        margin-right: 0;


        .atencionFooter {
            width: 50%;
            font-size: $size-xxs;
            margin-top: 8vmax;
            text-align: end;
            font-family: 'Synonym', sans-serif;
            font-weight: 400;

        }

        .botonFooterDiv {
            display: flex;
            flex-direction: row;
            align-items: start;
            margin-top: 1.8vmax;
            margin-bottom: 4vmax ;


            a {
            
                font-size: $size-xxxs;
                color: rgb(255, 255, 255);
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.849);
                font-family: 'Quilon', sans-serif;
                text-decoration: none;
                background-color: #F77B00;
                border-radius: 10px;
                padding: 0.5vmax 1.4vmax;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.822);
                user-select: none;
            }
        }


        .legalesFooter {
            // border: 3px solid yellow;
            margin-top: -2vmax;
            margin-bottom: 2vmax;
            

            .condiciones {
                display: flex;
                flex-direction: column;
                align-items: end;
                text-decoration: none;
                color: $color-light-one;
                font-size: $size-xxxs;
                font-weight: 600;
                
            }

            .emailDiv {
                display: flex;
                flex-direction: column;
                align-items: end;

                a { 
                    text-decoration: none;
                    color: $color-light-one;
                    font-size: $size-xxxs;
                    font-weight: 600;
                    padding-top: 1vmax;
                }
            }
        }
                




        img {
            width: 12vmax;
            filter: drop-shadow(2px 2px 3px rgba(255, 255, 255, 0.856));
        }
            
        
    }

    .derechos {
        text-align: center;
        margin: 0;
        color: white;
        font-weight: bold;
        font-size: $fuente-principal;
        padding-bottom: 0;
        margin-bottom: 0;
        border: solid 4px yellow;

        p {
            padding-bottom: 0;
        }

    }

}














/* media queries */
/* estructura */

/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/

@media screen and (min-width:1401px) {
    
    
}


/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1400px) {
    
    
}



/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1200px) {
    

    
}



/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:992px) {
    
    
   
}


/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:768px) {


}




/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:576px) {

            
    .footerSection {
    
        height: 70vmax;
        margin-top: -15vmax;
    }
}





/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:380px) {

    
.footerSection {
  
    height: 80vmax;
    margin-top: -15vmax;
    }
}
