.carousel-paisajes-container {
    position: relative;
    height: 40vmax;
    overflow: hidden;
    
}


.imgFondoCar {
    height: 40vmax;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.travelerContainer {
    position: absolute;
    bottom: -3vmax;
    left: 60%;
    transform: translateX(-30%); /* Ajusta la posición horizontal para centrar mejor */
    z-index: 2;
    user-select: none;

     
}
   
.travelerContainer img {
    width: 25vmax;
    height: auto;
    filter: drop-shadow(5px 2px 8px rgb(8, 7, 7));
}


.carousel-caption {
    position: absolute;
    top: 5%;
    left: 15%;
    width: 30%;
    text-align: start;
    z-index: 6;

}


   
.headerSpan {
    font-size: 4vmax;
    font-family: 'Lora', serif;
}

.carousel-caption h3 {
    font-size: 7vmax;
    color: rgb(255, 255, 255);
    text-shadow: 8px 4px 8px black;
    font-weight: bold;
    font-family: 'Bespoke Serif', serif;
    text-align: start;
    margin-bottom: 2vmax;
    user-select: none;
}



.carousel-caption a {
    font-size: 1.8vmax;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black;
    font-family: 'Quilon', sans-serif;
    text-decoration: none;
    background-color: #F77B00;
    border-radius: 15px;
    padding: 0.8vmax 1.6vmax;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    z-index: 6 !important;
    user-select: none;
}



.carousel-caption a:hover {

    background-color: #FFB51C;
}

.carousel-control-prev, .carousel-control-next {
    width: 8vmax;
    margin: 2vmax;
    z-index: 8;
    
}

.wave-viajera {
    margin-top: -15vmax;
    z-index: 3;
    position: absolute;
}










/* media queries */
/* estructura */



@media screen and (max-width:1200px) {
    
}


/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:992px) {
    
    .carousel-paisajes-container {
       
        height: 45vmax;

       
    }
    
    
    .imgFondoCar {
        height: 45vmax;
        
    }
    
    
    .carousel-caption {

        top: 10%;
       
    }
    
    .carousel-caption a {
    
        border-radius: 10px;
    }

    .wave-viajera {
        margin-top: -18vmax;
      
    }
    

}

@media screen and (max-width:835px) {

    .wave-viajera {
        margin-top: -15vmax;
      
    }
    
}

@media screen and (max-width:820px) {


    
    .carousel-paisajes-container {
       
        height: 48vmax;
        
    }
    
    .imgFondoCar {
        height: 48vmax;
      
    }
    
       
    
    .carousel-caption {

        top: 18%;
        width: 40%;
         
    }


    .headerSpan {
        font-size: 3.8vmax;

    }
    

    .carousel-caption h3 {
        font-size: 7vmax;
    }

      
    .wave-viajera {
        margin-top: -15vmax;
      
    }

}


@media screen and (max-width:781px) {

      
    .wave-viajera {
        margin-top: -13vmax;
        // border: solid 3px red;
    }

}


/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:768px) {


    
    .carousel-paisajes-container {
       
        height: 47vmax;
        
    }
    
    .imgFondoCar {
        height: 47vmax;
      
    }
    
    .carousel-caption {

        top: 12%;    
    }
    
    
    .carousel-caption a {
        font-size: 2vmax;
        border-radius: 8px;

    }

      
    .wave-viajera {
        margin-top: -15vmax;
      
    }
}


@media screen and (max-width:609px) {


    .carousel-paisajes-container {
       
        height: 47vmax;
    }
    
    .imgFondoCar {
        height: 47vmax;
      
    }
    

    .carousel-caption {

        top: 12%;
        width: 40%;         
    }
    

    .carousel-caption a {
        font-size: 2vmax;
        border-radius: 5px;
    }


    .wave-viajera {
        margin-top: -14vmax;
      
    }
}


/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:576px) {

    
    .carousel-paisajes-container {
       
        height: 48vmax;
        
    }
    
    
    .imgFondoCar {
        height: 48vmax;
       
    }
 
    .carousel-caption {
     
        top: 13%;
       
    }
    
    .headerSpan {
        font-size: 3.8vmax;

    }
    
    

}



/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:480px) {

    
    .carousel-paisajes-container {
       
        height: 48vmax;
        
    }
    
    
    .imgFondoCar {
        height: 48vmax;
       
    }
    
    .travelerContainer {
     
        bottom: -2vmax; 
    }
   
    .carousel-caption {
     
        top: 24%;
        left: 10%;
        width: 45%;
    }
    
       
    .headerSpan {
        font-size: 3.4vmax;
    }
    
    .carousel-caption h3 {
        font-size: 5vmax;
    }
    

    .carousel-control-prev, .carousel-control-next {
        width: 5vmax;
        margin: 0;
       
    }

    .wave-viajera {
        margin-top: -10vmax;
       
    }

    
}

@media screen and (max-width:428px){

    
    .wave-viajera {
        margin-top: -9vmax;
       
    }
    
}


@media screen and (max-width:380px){
    

    
    
    .travelerContainer {

        bottom: -2vmax;
    }

    
    .travelerContainer img {
        width: 23vmax;
      
    }

   
    .carousel-caption {
     
        top: 18%;
        left: 15%;
        width: 45%;
    }
    
       
    .headerSpan {
        font-size: 3.6vmax;

    }
    
    .carousel-caption h3 {
        font-size: 5vmax;
        margin-bottom: 2vmax;

    }
    
     
    .wave-viajera {
        margin-top: -9vmax;
        z-index: 3;
        position: absolute;
    }

}

@media screen and (max-width:320px){
    
    
    .travelerContainer {
     
        bottom: -2vmax;
        left: 55%;
    }
   
    .carousel-caption {
     
        top: 25%;
        left: 18%;
        width: 40%;
     
    }
    
       
    .headerSpan {
        font-size: 3.2vmax;
        padding-bottom: 2vmax;

        
    }
    
    .carousel-caption h3 {
        font-size: 4vmax;
        
        margin-bottom: 2vmax;

    }
    
    
        
    .wave-viajera {
        margin-top: -9vmax;
        z-index: 3;
        position: absolute;
    }
    
}

