.carousel-paisajes-container {
    position: relative;
    height: 40vmax;
    overflow: hidden;
}


.imgFondoCar {
    height: 40vmax;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.travelerContainer {
    position: absolute;
    bottom: -5vmax; /* Alinea la imagen PNG con el borde inferior del carousel */
    left: 60%; /* Desplaza la imagen un poco hacia la derecha */
    transform: translateX(-30%); /* Ajusta la posición horizontal para centrar mejor */
    z-index: 2;
}

.travelerContainer img {
    width: 25vmax;
    height: auto;
    filter: drop-shadow(5px 2px 8px rgb(8, 7, 7));
}

.carousel-caption {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 40%;
    text-align: start;
    // border: solid 3px rgb(255, 0, 43);
    
    /* display: flex;
    flex-flow: column wrap;
    width: 20vmax;
    
    justify-content: center; */
}

.headerSpan {
    font-size: 4vmax;
}

.carousel-caption h3 {
    font-size: 6vmax;
    color: rgb(255, 255, 255);
    text-shadow: 8px 4px 8px black;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: start;
    margin-bottom: 2vmax;
}

.carousel-caption a {
    font-size: 1.4vmax;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    background-color: rgb(238, 133, 35);
    border-radius: 15px;
    padding: 0.8vmax 1.6vmax;
    box-shadow: 2px 4px 6px rgb(0, 0, 0);
   
}

.carousel-control-prev, .carousel-control-next {
    width: 8vmax;
    margin: 2vmax;
    
}
/* 
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-size: 100%, 100%;
    filter: brightness(0) invert(1); 
}
 */

.wave-viajera {
    margin-top: -15vmax;
    z-index: 6;
    position: absolute
}