.headerContenedor {
    height: 40vmax;
    width: 100%;
    background-image: url('../Img/uno.jpg');
    background-size: cover;
    background-position: center top 70%;
    // padding: 0;
    margin-top: 0;
    z-index: 1;
    padding: 6vmax;
    box-sizing: border-box;
}


.bandaHeader {
    width: 100%;
    padding: 0;
    margin-top: -15vmax;
}


.col-izq-header {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;


    transform: scale(0.8);
    opacity: 0;
    animation: zoomIn 1.5s ease-out forwards;


    @keyframes zoomIn {
        to {
          transform: scale(1);
          opacity: 1;
        }
    }
 
    .spanHeaderUno {
        color: $color-light-one;
        font-family: $fuente-terc;
        font-weight: 500;
        font-size: $size-small;

       /* sombra que rodea todo el borde de la letra */
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.904);
    }

    h1 {
        color: $color-light-one;
        font-family: $fuente-terc;
        // font-family: $fuente-header;
        font-size: $size-header;
        text-shadow: 6px 8px 8px rgb(0, 0, 0);
        letter-spacing: 1.5px;
    }

    .botonHeader {

        text-decoration: none;
        background-color: $color-botones;
        color: $color-dark-one;
        padding: 0.6vmax 2.6vmax;
        font-family: $fuente-terc;
        font-size: $size-xxs;
        border-radius: 10px;
        box-shadow: 0 3px 8px black;
        margin-top: 1.5vmax;
 
        /* para el zoom del hover */
        transition: transform 0.4s ease, filter 0.4s ease;

    }

    .botonHeader:hover {
        color:$color-contrast-one;
        background-color: $color-light-three;
        text-shadow: none;
        transform: scale(1.1); /* Zoom */



       

    }
} 














/* media queries */
/* estructura */

/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/

@media screen and (min-width:1401px) {
    
    
}


/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1400px) {
    
    
}



/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1200px) {
    .headerContenedor {
        padding-top: 6vmax;
    
    }
    
}



/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:992px) {
    
    .headerContenedor {
        height: 48vmax;
        padding: 6vmax 6vmax 2vmax 6vmax;
    }
    
    
    
    .bandaHeader {
    
        margin-top: -16vmax;
        
        
    }
    
   
    
    .col-izq-header {
       


        .spanHeaderUno {
            font-size: $size-cuarto;
            // padding: 0.5vmax 2vmax;
        }

        h1 {
            font-size: $size-header;
            padding-bottom: 1vmax;
        }

        
        .botonHeader {

            
            padding: 0.6vmax 2.6vmax;
            
            font-size: $size-xs;
            
            margin-top: 1vmax;
     
          
        }
    } 

   
}


/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:768px) {


    .headerContenedor {
        height: 60vmax;
        padding: 12vmax 6vmax 2vmax 6vmax;
    }
    
    
    .bandaHeader {
    
        margin-top: -16vmax;
        
        
    }



    .col-izq-header {
       
        text-align: center;
        align-items: center;
        justify-content: center;


        .spanHeaderUno {
            font-size: $size-terc;
            padding: 0.5vmax 2vmax;
        }

        h1 {
            font-size: $size-header;
            padding-bottom: 1.5vmax;
        }

        
        .botonHeader {

            
            padding: 0.6vmax 2.6vmax;
            
            font-size: $size-xs;
            
            margin-top: 1.5vmax;
     
          
        }
    } 
}




/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:576px) {

    
    .headerContenedor {
        height: 65vmax;
        padding: 10vmax 4vmax 2vmax 4vmax;
    }



    
    .bandaHeader {
    
        margin-top: -13vmax;
        
        
    }

    
    .col-izq-header {
        
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        gap: 1vmax;


        .spanHeaderUno {
            font-size: $size-small;
        
        }

        h1 {
            font-size: $size-header;

        }

        
    } 
}




/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:320px) {

    
    .headerContenedor {
        height: 70vmax;
        padding: 10vmax 2vmax 2vmax 2vmax;
    }

    
    h1 {
        font-size: $size-large;

    }

}