.svg-hoteleria-primero {

    background-color: transparent;
    margin-top: -18vmax;
    

}

.Hoteleria-Section {
    margin-top: -2vmax;
    height: auto; 
    background-color: $color-light-three;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    .titulosHoteleriaDiv {
        h2 {
            @include h2-styles($fuente-principal, $size-secundario, $color-dark-one);
            margin: 0 1.5vmax 0;
            font-weight: 400;
            text-align: center
        }
    
        h3 {
            @include h2-styles($fuente-principal, $size-terc, $color-dark-one);
            margin: 1.5vmax 3vmax;
            font-weight: 400;
            text-align: center
        }

        p {

            @include h3-styles($fuente-secundaria, $size-xxs, $color-dark-two);
            margin: 5vmax 10vmax 5vmax 10vmax;
            text-align: justify;
        }
    }
}


.stars-container {
    

    margin-top: 0;
    margin-bottom: 4vmax;
    width: 100%;


    .div-five-stars {


        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 1vmax;
        padding-bottom: 1vmax;

        img {
            width: 3vmax;
            filter: drop-shadow(1px 2px 1px #11262caf);
            
        }

    }
}



.div-five-stars-dos {


    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1vmax;
    padding: 0 0 5vmax 0;

    img {
        width: 1.8vmax;
        filter: drop-shadow(1px 2px 1px #11262caf);
        
    }

}


.div-five-stars-tres {

    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1vmax;
    padding: 0 0 5vmax 0;
    background-color: $color-arena;
    margin-bottom: 0;

    img {
        width: 1.8vmax;
        filter: drop-shadow(1px 2px 1px #11262caf);
        
    }

}

.titulo-banner-hotel {
    margin-top: -2vmax;
    background-color: $color-arena;
    h3 {
        @include h2-styles($fuente-principal, $size-terc, $color-dark-one);
        margin: 1.5vmax 3vmax;
        font-weight: 400;
        text-align: center;
        padding-bottom: 2vmax;
    }
}

.bannerHoteleriaContainer {

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    z-index: 4;
    width: 100%;
    background-color: $color-arena;
        
    .div-icono-servicio {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 1vmax;
        padding-top: 2vmax;
        padding-bottom: 5vmax;
        background-color: transparent;



        .contenedorImg {
            padding: 1vmax;
            border:none;
            border-radius: 50%;
            box-shadow: 1px 3px 6px $color-dark-one;
            background-color: rgb(243, 240, 228);

            
            .bannerServicioImg {
                width: 3vmax;
            
            }

        }


        
        .hotelbannerParrafDiv {

            display: flex;
            flex-flow: row nowrap;
            
            p {
                text-align: center;
                font-size: $size-xxxs;
                color: $color-dark-one;

                font-family: "Alata", sans-serif;


            }

        }

    }
}
 


.svg-hoteleria-segundo {
   z-index: 3;
   margin-top: -5vmax;
//    border: solid 3px red; 

}


/* efecto flotante */


.img-fondo {
    background-image: url('../Img/opc5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 40vmax;  
    margin-top: -18vmax;
    margin-bottom: 8vmax;
    // border: solid 3px yellow;
}

.flotan-text1 {
    // border: 6px solid yellow;
    width: 100%;
    color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    

        
    h2 {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-size: 4vmax;
        text-shadow: 4px 4px 8px black;        
        font-family: 'Synonym', sans-serif;
        font-weight: bold;
  
    }


    p {
        margin: 0 auto;
        width: 70%;
        text-align: center;
        font-size: 2vmax;
        text-shadow: 7px 4px 8px black;
        padding-top: 4vmax;
        letter-spacing: 1.5px;
        font-weight: 600;
        font-family: 'Lora', serif;
        display: block;
        
    }

}



.svg-hoteleria-bottom {
    margin-top: -20vmax;
    z-index: 3;
}










/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:992px) {

    .Hoteleria-Section {
        margin-top: -3vmax;
    }
    

        
    .div-five-stars-dos {

        gap: 1vmax;
        padding: 0 0 10vmax 0;

        img {
            width: 1.8vmax;
            filter: drop-shadow(1px 2px 1px #11262caf);
            
        }

    }



    .bannerHoteleriaContainer {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
        margin: 0 auto;
        padding: 0 4vmax;

        .div-icono-servicio {

            display: flex;
            justify-content: center;
            width: 30%;
            gap: 1vmax;
            padding-top: 1vmax;
            padding-bottom: 2vmax;


                
            .contenedorImg {
                padding: 1.5vmax;
                
                .bannerServicioImg {
                    width: 5vmax;
                
                }

            }


                
            .hotelbannerParrafDiv {

                p {
    
                    font-size: $size-xxs;
                


                }

            }
        }

    }

    

    .img-fondo {
    
        margin-top: -16vmax;

    }


}



@media screen and (max-width:820px) {

    
    .svg-hoteleria-primero {

        background-color: transparent;
        margin-top: -18vmax;
        
    }

    .bannerHoteleriaContainer {

        flex-flow: row wrap;
    }

        

    .img-fondo {
      
        height: 40vmax;  
        margin-top: -14vmax;
        margin-bottom: 8vmax;
    }
}

/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:768px) {


        

    .Hoteleria-Section {
    
        margin-top: -5vmax;
    }

    .bannerHoteleriaContainer {
       


        .div-icono-servicio {

               
            .contenedorImg {
                padding: 1vmax;
                
                .bannerServicioImg {
                    width: 6vmax;
                
                }

            }

                
            .hotelbannerParrafDiv {

                p {
    
                    font-size: $size-xs;
                


                }

            }


        }

        
    }

        

    .img-fondo {
    
        margin-top: -14vmax;

    }



}


/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:576px) {


    .bannerHoteleriaContainer {
       
        width: 100%;
        padding-bottom: 3vmax;

        .div-icono-servicio {

            width: 30%;

            .contenedorImg {
                padding: 2vmax;
                
                .bannerServicioImg {
                    width: 7vmax;
                
                }

            }


                
            .hotelbannerParrafDiv {

                

                p {
    
                    font-size: $size-small;
                    // color: rgb(255, 13, 53);


                }

            }

        }

        
        
    }

    
    .img-fondo {
    
        margin-top: -12vmax;

    }


}


/* medida especial */

@media screen and (max-width:480px) {


    .bannerHoteleriaContainer {

        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        width: 100%;
        padding-bottom: 3vmax;
        margin-bottom: 8vmax;

        .div-icono-servicio {

            width: 40%;

            .contenedorImg {
                padding: 1.5vmax;
                
                .bannerServicioImg {
                    width: 7vmax;
                
                }

            }

            .hotelbannerParrafDiv {

                

                p {
    
                    padding-top: 0.5vmax;
                    font-size: $size-small;


                }

            }

        }

        
        
    }

        
    .svg-hoteleria-segundo {
        margin-top: -8vmax;
    
    }
 
    
    .img-fondo {
    
        margin-top: -8vmax;

    }


}



@media screen and (max-width:420px) {

    .bannerHoteleriaContainer {

        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        width: 90%;
        padding-bottom: 3vmax;

        .div-icono-servicio {

            width: 50%;

            .contenedorImg {
                padding: 2vmax;
                
                .bannerServicioImg {
                    width: 6vmax;
                
                }

            }

            .hotelbannerParrafDiv {

                

                p {
    
                    font-size: $size-small;


                }

            }

        }

        
        
    }

    
    .img-fondo {
    
        margin-top: -10vmax;

    }

        
    .flotan-text1 {
    
        color: white;
            
        h2 {
            color: white;
    
        }



    }

}


/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:340px) {

    .bannerHoteleriaContainer {

        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        width: 100%;
        padding-bottom: 3vmax;

        .div-icono-servicio {

            width: 50%;
            padding-bottom: 0.8vmax;

            .contenedorImg {
                padding: 1.5vmax 1.8vmax;
                
                .bannerServicioImg {
                    width: 4vmax;
                
                }

            }

            .hotelbannerParrafDiv {

                

                p {
    
                    font-size: $size-xs;


                }

            }

        }

        
        
    }


}