.svg-hoteleria-primero {

    background-color: transparent;
    margin-top: -18vmax;
    
    // border: solid 3px rgb(0, 0, 0);

}

.Hoteleria-Section {
    height: auto;
    background-color: $color-light-three;
    // margin-top: -2vmax;
    margin-top: 50vmax;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;


    .titulosHoteleriaDiv {
        h2 {
            @include h2-styles($fuente-principal, $size-secundario, $color-dark-one);
            margin: 0 1.5vmax 0;
            font-weight: 400;
            text-align: center
        }
    
        h3 {
            @include h2-styles($fuente-principal, $size-terc, $color-dark-one);
            margin: 1.5vmax 3vmax;
            font-weight: 400;
            text-align: center
        }

        p {

            @include h3-styles($fuente-secundaria, $size-xxs, $color-dark-two);
            margin: 3vmax 10vmax 5vmax 10vmax;
            text-align: justify;
        }
    }
}


.stars-container {
    

    margin-top: -4vmax;
    margin-bottom: 2vmax;


    .div-five-stars {


        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 1vmax;
        padding-bottom: 1vmax;

        img {
            width: 3vmax;
            filter: drop-shadow(1px 2px 1px #11262caf);
            
        }

    }
}



.div-five-stars-dos {


    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1vmax;
    padding: 2.5vmax 0;

    img {
        width: 1.8vmax;
        filter: drop-shadow(1px 2px 1px #11262caf);
        
    }

}


.bannerHoteleriaContainer {

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    z-index: 4;
    width: 90%;
        
    .div-icono-servicio {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 1vmax;
        padding-top: 2vmax;
        padding-bottom: 5vmax;


        .contenedorImg {
            padding: 1vmax;
            border:none;
            border-radius: 50%;
            box-shadow: 1px 3px 6px $color-dark-one;
            background-color: rgb(243, 240, 228);

            
            .bannerServicioImg {
                width: 3vmax;
            
            }

        }


        
        .hotelbannerParrafDiv {

            display: flex;
            flex-flow: row nowrap;
            
            p {
                text-align: center;
                font-size: $size-xxxs;
                color: $color-dark-one;

                font-family: "Alata", sans-serif;


            }

        }

    }
}





.svg-hoteleria-segundo {
   z-index: 3;
   margin-top: -5vmax;

}

/* 
.container-img-hotel {
    width: 100%;
    height: 35vmax;
    background-image: url('../Img/hoteldos.jpg');
    background-position: center bottom;
    background-size: cover;
    margin: -16vmax 0 5vmax 0;
    z-index: 1;
   
    
}
 */



 








/* efecto flotante */





.img-fondo {
    background-image: url('../Img/hoteltres.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 30vmax;
   
    margin-top: -18vmax;
    margin-bottom: 8vmax;
}

.flotan-text1 {
    width: 100%;
    // height: 15vmax;
    color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    

}
/* 
.flotan-text1 h2 {
    font-size: 5rem;
    text-shadow: 2px 2px 4px black;
    font-family: "Bebas Neue", sans-serif;
    
    padding: 0.2rem 3rem;
    background: rgba(0, 0, 0, 0.479);
    border-radius: 1rem;
}


.flotan-text1 p {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 2rem;
    background: rgba(0, 0, 0, 0.479);
    border-radius: 1rem;
}

 */



.svg-hoteleria-bottom {
    margin-top: -20vmax;
    z-index: 3;
}

















/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:992px) {

    
    .bannerHoteleriaContainer {
        width: 80%;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        width: 85%;
        margin: 0 auto;

        .div-icono-servicio {

            display: flex;
            justify-content: center;
            width: 30%;
            gap: 1vmax;
            padding-top: 1vmax;
            padding-bottom: 2vmax;


                
            .contenedorImg {
                padding: 1.5vmax;
                
                .bannerServicioImg {
                    width: 5vmax;
                
                }

            }


                
            .hotelbannerParrafDiv {

                p {
    
                    font-size: $size-xxs;
                    // color: brown;
                


                }

            }
        }

    }

        
        
}


/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:768px) {

    .svg-hoteleria-primero {

        background-color: transparent;
        margin-top: -10vmax;
        
        border: solid 3px rgb(202, 29, 29);
    
    }


    .bannerHoteleriaContainer {
       

        .div-icono-servicio {

               
            .contenedorImg {
                padding: 1vmax;
                
                .bannerServicioImg {
                    width: 6vmax;
                
                }

            }

                
            .hotelbannerParrafDiv {

                p {
    
                    font-size: $size-xs;
                    // color: rgb(14, 10, 255);


                }

            }


        }

        
    }



}


/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:576px) {


    .bannerHoteleriaContainer {
       
        width: 100%;
        padding-bottom: 3vmax;

        .div-icono-servicio {

            width: 30%;

            .contenedorImg {
                padding: 2vmax;
                
                .bannerServicioImg {
                    width: 7vmax;
                
                }

            }


                
            .hotelbannerParrafDiv {

                

                p {
    
                    font-size: $size-small;
                    // color: rgb(255, 13, 53);


                }

            }

        }

        
        
    }



}


/* medida especial */

@media screen and (max-width:478px) {


    .bannerHoteleriaContainer {

        // border: solid 3px orangered;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        width: 100%;
        padding-bottom: 3vmax;
        margin-bottom: 8vmax;

        .div-icono-servicio {

            width: 40%;

            .contenedorImg {
                padding: 1.5vmax;
                
                .bannerServicioImg {
                    width: 7vmax;
                
                }

            }

            .hotelbannerParrafDiv {

                

                p {
    
                    padding-top: 0.5vmax;
                    font-size: $size-small;
                    // color: rgb(17, 83, 11);


                }

            }

        }

        
        
    }

}



@media screen and (max-width:420px) {

    .bannerHoteleriaContainer {

        // border: solid 3px orangered;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        width: 90%;
        padding-bottom: 3vmax;

        .div-icono-servicio {

            width: 50%;

            .contenedorImg {
                padding: 2vmax;
                
                .bannerServicioImg {
                    width: 6vmax;
                
                }

            }

            .hotelbannerParrafDiv {

                

                p {
    
                    font-size: $size-small;
                    // color: rgb(70, 182, 185);


                }

            }

        }

        
        
    }


}




/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:340px) {

    .bannerHoteleriaContainer {

        // border: solid 3px orangered;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        width: 100%;
        padding-bottom: 3vmax;

        .div-icono-servicio {

            width: 50%;
            padding-bottom: 0.8vmax;

            .contenedorImg {
                padding: 1.5vmax 1.8vmax;
                
                .bannerServicioImg {
                    width: 4vmax;
                
                }

            }

            .hotelbannerParrafDiv {

                

                p {
    
                    font-size: $size-xs;
                    // color: rgb(184, 125, 38);


                }

            }

        }

        
        
    }


}