.navbar {
    min-height: 4vmax;
    background-color: $color-dark-three;
    margin-top: 0;
    position: fixed;
    top: 0;
    z-index: 8;

    .ContainerNavbar {
        background-color: $color-arena;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
}
  
.navbar-brand {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.2vmax;

    .brandImg {
        width: 2vmax;
        color:$color-dark-two;
    }

    .brandText {
        margin-bottom: 0;
        color:$color-dark-two;
        font-weight: 400;
        font-family: $fuente-terc;
    }

}



.navbar-nav {

    .nav-item {

        .nav-link {
            color:$color-dark-two;
            font-family: $fuente-principal;
        }
    }

}
 
.dropdown-menu-end {
    li {

        color: $color-light-three;
        a {
            font-family: $fuente-principal;
            color: $color-dark-three;
        }
    }
}




/* media queries */
/* estructura */





/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:991px) {
    
     .navbar {

    
    
        .ContainerNavbar {
            .nav-izquierda {
                min-height: 2vmax;
                display: flex;
                flex-flow: row nowrap;
                width: 100%;
                justify-content: space-between;
                margin: 0 auto;
    
                .navbar-brand {
                
                   
                    .brandImg {
                        width: 2vmax !important;
                    }
              
                    .brandText {
                        font-size: 2vmax;
                    }
    
                }
            }
    
        }
    } 

    
    .navbar-toggler {
        border: none;
        user-select: none;
        padding: 0;
        margin-bottom: 0.3vmax;


        .menuHamuguesa {
            width: 3vmax;
        }


    }

    .navbar-collapse {
        background-color: $color-light-two;
        margin: 2vmax;
        padding: 1vmax;
        border-radius: 10px;
        padding-left: 2vmax;
        z-index: 22;
        
    }

    .nav-link {
        color:$color-dark-three; 
        font-weight: bold;
        font-size: $size-xs;
    }
    .nav-link:hover {
        background-color: $color-light-one;
        color: $color-dark-three;
        border-radius: 5px;
        padding-left: 0.5vmax;
    }

    .dropdown-menu {
        background-color: $color-light-one;
        border: none;

        li {
            

            .dropdown-item {
                font-weight: bold;
                color: $color-dark-two;
                font-size: $size-xs;
            }

            .dropdown-item:hover {
                font-weight: bold;
                background-color: $color-light-one;
                color: $color-dark-three;
                border-radius: 5px;
            }
        }
    }
 
   
}


/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:768px) {

    .nav-link {
        font-size: $size-xs;
    }

}




/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:576px) {

    
    .nav-link {
        font-size: $size-xs;
    }

}

