* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #c78465;
  padding-top: 4vmax;
}

.navbar {
  min-height: 4vmax;
  background-color: #70ADB6;
  margin-top: 0;
  position: fixed;
  top: 0;
  z-index: 4;
}
.navbar .ContainerNavbar {
  background-color: #f1ebe1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar-brand {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.2vmax;
}
.navbar-brand .brandImg {
  width: 2vmax;
  color: #294e5a;
}
.navbar-brand .brandText {
  margin-bottom: 0;
  color: #294e5a;
  font-weight: 400;
  font-family: "Archivo Black", sans-serif;
}

.navbar-nav .nav-item .nav-link {
  color: #294e5a;
  font-family: "Alata", sans-serif;
}

.dropdown-menu-end li {
  color: #f3d9ce;
}
.dropdown-menu-end li a {
  font-family: "Alata", sans-serif;
  color: #70ADB6;
}

/* media queries */
/* estructura */
/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/
/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/
/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/
/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 992px) {
  .navbar .ContainerNavbar .nav-izquierda {
    min-height: 2vmax;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
  }
  .navbar .ContainerNavbar .nav-izquierda .navbar-brand .brandImg {
    width: 2vmax !important;
  }
  .navbar .ContainerNavbar .nav-izquierda .navbar-brand .brandText {
    font-size: 2vmax;
  }
  .navbar-toggler {
    border: none;
    user-select: none;
    padding: 0;
    margin-bottom: 0.3vmax;
  }
  .navbar-toggler .menuHamuguesa {
    width: 3vmax;
  }
  .navbar-collapse {
    background-color: #dae5e9;
    margin: 2vmax;
    padding: 1vmax;
    border-radius: 10px;
    padding-left: 2vmax;
    z-index: 22;
  }
  .nav-link {
    color: #70ADB6;
    font-weight: bold;
    font-size: 1.8vmax;
  }
  .nav-link:hover {
    background-color: #f0f0f0;
    color: #70ADB6;
    border-radius: 5px;
    padding-left: 0.5vmax;
  }
  .dropdown-menu {
    background-color: #f0f0f0;
    border: none;
  }
  .dropdown-menu li .dropdown-item {
    font-weight: bold;
    color: #294e5a;
    font-size: 1.8vmax;
  }
  .dropdown-menu li .dropdown-item:hover {
    font-weight: bold;
    background-color: #f0f0f0;
    color: #70ADB6;
    border-radius: 5px;
  }
}
/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 768px) {
  .nav-link {
    font-size: 1.8vmax;
  }
}
/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 576px) {
  .nav-link {
    font-size: 1.8vmax;
  }
}
/* medida personalizada 420 */
/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/
.headerContenedor {
  height: 40vmax;
  width: 100%;
  background-image: url("../../Img/uno.jpg");
  background-size: cover;
  background-position: center top 70%;
  margin-top: 0;
  z-index: 1;
  padding: 6vmax;
  box-sizing: border-box;
}

.bandaHeader {
  width: 100%;
  padding: 0;
  margin-top: -15vmax;
}

.col-izq-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  transform: scale(0.8);
  opacity: 0;
  animation: zoomIn 1.5s ease-out forwards;
}
@keyframes zoomIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.col-izq-header .spanHeaderUno {
  color: #f0f0f0;
  font-family: "Archivo Black", sans-serif;
  font-weight: 500;
  font-size: 2.2vmax;
  /* sombra que rodea todo el borde de la letra */
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.904);
}
.col-izq-header h1 {
  color: #f0f0f0;
  font-family: "Archivo Black", sans-serif;
  font-size: 6vmax;
  text-shadow: 6px 8px 8px rgb(0, 0, 0);
  letter-spacing: 1.5px;
}
.col-izq-header .botonHeader {
  text-decoration: none;
  background-color: #3edb9a;
  color: #294e5a;
  padding: 0.6vmax 2.6vmax;
  font-family: "Archivo Black", sans-serif;
  font-size: 1.5vmax;
  border-radius: 10px;
  box-shadow: 0 3px 8px black;
  margin-top: 1.5vmax;
  /* para el zoom del hover */
  transition: transform 0.4s ease, filter 0.4s ease;
}
.col-izq-header .botonHeader:hover {
  color: #c24003;
  background-color: #f3d9ce;
  text-shadow: none;
  transform: scale(1.1); /* Zoom */
}

/* media queries */
/* estructura */
/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/
/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/
/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/
/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 992px) {
  .headerContenedor {
    height: 45vmax;
    padding: 6vmax;
  }
  .bandaHeader {
    margin-top: -16vmax;
  }
}
/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 768px) {
  .headerContenedor {
    height: 55vmax;
    padding: 6vmax;
  }
  .bandaHeader {
    margin-top: -14vmax;
  }
  /* 
      .col-izq-header {
          padding: 5vmax;
          text-align: center;
          align-items: center;
          justify-content: center;


          .spanHeaderUno {
              font-size: $size-terc;
              padding: 0.5vmax 2vmax;
          }

          h1 {
              font-size: $size-header-movile;
          }


      } */
}
/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 576px) {
  .headerContenedor {
    height: 65vmax;
    padding: 6vmax;
  }
  .bandaHeader {
    margin-top: -11vmax;
  }
  /*  
   .col-izq-header {

       .spanHeaderUno {
           font-size: $size-cuarto;

       }

       h1 {
           font-size: $size-header-movile;

       }


   } */
}
/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 320px) {
  .headerContenedor {
    height: 70vmax;
    padding: 6vmax;
  }
}

/*# sourceMappingURL=styles.css.map */
